<header class="site-navbar container py-0 bg-white" role="banner">
    <div class="row align-items-center">
        <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a [routerLink]="['/']" class="text-black mb-0">Quem Vende</a></h1>
        </div>

        <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                    <li class="active"><a [routerLink]="['/']">Início</a></li>

                    <li><a [routerLink]="['/classificados']">Classificados</a></li>

                    <li class="has-children">
                        <a [routerLink]="['/categorias']">Categorias</a>
                        <ul class="dropdown">
                            <li><a href="#">The Company</a></li>
                            <li><a href="#">The Leadership</a></li>
                            <li><a href="#">Philosophy</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </li>

                    <li><a [routerLink]="['/sobre']">Sobre</a></li>

                    <li><a [routerLink]="['/contacto']">Contacto</a></li>

                    <li class="ml-xl-3 login"><a [routerLink]="['/login']"><span class="border-left pl-xl-4"></span>Entrar</a></li>

                    <li><a [routerLink]="['/registo']">Registe-se</a></li>

                    <li><a [routerLink]="['/anuncio']" class="cta"><span class="bg-primary text-white rounded">+ Anuncie Aqui</span></a></li>
                </ul>
            </nav>
        </div>

        <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
        </div>
    </div>
</header>
