@import './../../../assets/scss/modules/colors';

.site-navbar {
    margin-bottom: 0;
    z-index: 1999;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px 30px !important;
    border-radius: 4px;

    .site-logo {
        position: relative;
        left: 0;
        top: -5px;
        text-transform: uppercase;

        a {
            font-size: 20px;
            font-weight: 900;
        }
    }

    .site-navigation {
        &.border-bottom {
            border-bottom: 1px solid #f3f3f4 !important;
        }

        .site-menu {
            margin-bottom: 0;

            .active > a {
                color: $color-primary;
                border-radius: 30px;
                display: inline-block;
            }

            .cta {
                margin-left: 30px;
                span {
                    padding: 12px 20px;
                }
            }

            a {
                text-decoration: none !important;
                display: inline-block;
            }

            > li {
                display: inline-block;
                > a {
                    color: #000;
                    text-decoration: none !important;
                    padding: 20px 10px;
                    display: inline-block;
                    font-size: 15px;
                    &:hover {
                        color: $color-primary;
                        border-radius: 30px;
                        display: inline-block;
                    }
                }
            }

            .has-children {
                position: relative;
                > a {
                    position: relative;
                    padding-right: 30px;
                    &:before {
                        position: absolute;
                        content: '\e313';
                        font-size: 16px;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        font-family: 'icomoon';
                    }
                }

                .dropdown {
                    visibility: hidden;
                    opacity: 0;
                    top: 100%;
                    position: absolute;
                    text-align: left;
                    border-top: 2px solid $color-primary;
                    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
                    border-left: 1px solid #edf0f5;
                    border-right: 1px solid #edf0f5;
                    border-bottom: 1px solid #edf0f5;
                    padding: 0;
                    margin-top: 20px;
                    margin-left: 0;
                    background: #fff;
                    transition: 0.2s 0s;

                    &.arrow-top {
                        position: absolute;

                        &:before {
                            bottom: 100%;
                            left: 20%;
                            border: solid transparent;
                            content: ' ';
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(136, 183, 213, 0);
                            border-bottom-color: #fff;
                            border-width: 10px;
                            margin-left: -10px;
                        }
                    }

                    a {
                        text-transform: none;
                        letter-spacing: normal;
                        transition: 0s all;
                        color: #343a40;
                    }

                    .active > a {
                        color: $color-primary !important;
                    }

                    > li {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        min-width: 200px;
                        > a {
                            padding: 9px 20px;
                            display: block;
                            &:hover {
                                background: #f4f5f9;
                                color: #25262a;
                            }
                        }

                        &.has-children {
                            > {
                                a:before {
                                    content: '\e315';
                                    right: 20px;
                                }
                                .dropdown,
                                ul {
                                    left: 100%;
                                    top: 0;
                                }
                            }
                            &:hover > a,
                            &:active > a,
                            &:focus > a {
                                background: #f4f5f9;
                                color: #25262a;
                            }
                        }
                    }
                }

                &:hover > a,
                &:focus > a,
                &:active > a {
                    color: $color-primary;
                }

                &:hover,
                &:focus,
                &:active {
                    cursor: pointer;
                }

                &:hover > .dropdown,
                &:focus > .dropdown,
                &:active > .dropdown {
                    transition-delay: 0s;
                    margin-top: 0;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
